@import "tailwindcss";

:root {
  --background: #b7c7e2;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c222d;
    --foreground: #ededed;
  }
}


@font-face {
  font-family: 'signature';
  src: url('/fonts/signature.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}